* {
	box-sizing: border-box;
	font-family: 'Black Han Sans', sans-serif;
	font-family: 'Do Hyeon', sans-serif;
}

body {
	margin: 0;
	padding: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
		Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	background-image: linear-gradient(
		to right top,
		#e6c0ea,
		#e4b6ef,
		#a58198,
		#e852f6,
		#d587e5,
		#cba6d1,
		#efc1f6,
		#f4c2fe,
		#eda5ee,
		#eb94fc,
		#f999c8,
		#eeaddb
	);
	height: 100%;
}
